#bg-canvas
{
    position: absolute;
    width:100%;
    height: auto;

}

#animation-canvas
{
    /*background-color: green;*/
    position: relative;
    margin-left: 10px;
    width: 800px;
    height: 600px;
}